$appbar-height: 70px;
$boardbar-height: 50px;
$main_color: #f74949;
$txt-color: #fff;

$bg-color: #994343;
$box-shadow: 1px;

$mobile-width: 600px;
$tablet-width: 1024px;

$gap-10: 10px;
$gap-20: 20px;

$column-border-radius: 8px;
